/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');

header {
    height: 100vh;
    background: rgb(199, 255, 248);
    background: linear-gradient(180deg, rgba(199, 255, 248, 1) 15%, rgba(177, 202, 245, 1) 100%);
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    margin-top: 20px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 4px solid rgba(35, 43, 27, 0.37);
    box-shadow: 0 0 5px 3px rgba(67, 10, 160, 0.37);
}

.apresentacao {
    margin-top: 30px;
    text-align: center;
    font-family: Teko, sans-serif;
    font-size: 4rem;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redes-icons {
    margin-left: 15px;
}

.redes-icons i {
    font-size: 2.5em;
    color: rgb(35, 26, 87);
}

.info {
    margin-top: 30px;
}

.arrow {
    font-size: 50px;
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-weight: 0;
}

.arrow i {
    animation-name: up-down;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes up-down {
    from {
        transform: translateY(-20px);
    }


    to {
        transform: translatey(-40px);
    }
}

/*NAVEGAÇÃO*/
.navegacao {
    text-align: center;
    justify-content: center;
    height: 80px;
}

.navegacao ul {
    background-color: #fff;
}

.navegacao li {
    margin-left: 50px;
    margin-right: 20px;

}

.navegacao li:hover {
    border-bottom: 2px solid gray;
}

.navegacao ul li a {
    text-decoration: none;
    font-family: Teko, sans-serif;
    font-size: 30px;
}

.navegacao ul li a:hover {
    color: rgb(131, 129, 106);
    border-bottom: 2px solid rgb(107, 100, 100);

}

.navbar-light .navbar-brand {
    font-family: Teko, sans-serif;
    font-size: 40px;

}

/*PROJETOS / ARTIGOS*/
.caixa {
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgba(231, 224, 224, 0.356);
    box-shadow: 0 5px 5px 5px rgba(72, 190, 236, 0.342);
    width: 100%;
    height: 100%;
}

.caixa-imagem img {
    width: 100%;
    margin: 10px;

}

.caixa-corpo {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.caixa-imagem {
    width: 60%;
    height: 40%;


}

.texto-card {
    width: 35%;
}

.texto-card p {
    margin-top: 30px;
    font-size: 20px;
}

.button {
    margin-top: 20px;
    text-align: center;

}

.projeto h3 {
    margin-top: 90px;
    letter-spacing: 1.5rem;
    font-family: Teko, sans-serif;

}

.caixa h4 {
    font-size: 35px;
}






/*RODAPÉ*/
.footer {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background: rgb(238, 255, 252);
    background: -moz-linear-gradient(20deg, rgba(238, 255, 252, 1) 13%, rgba(180, 250, 249, 1) 50%, rgba(54, 238, 234, 1) 86%);
    background: -webkit-linear-gradient(20deg, rgba(238, 255, 252, 1) 13%, rgba(180, 250, 249, 1) 50%, rgba(54, 238, 234, 1) 86%);
    background: linear-gradient(20deg, rgba(238, 255, 252, 1) 13%, rgba(180, 250, 249, 1) 50%, rgba(54, 238, 234, 1) 86%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eefffc", endColorstr="#36eeea", GradientType=1);
    box-sizing: border-box;
}

.links-nav {
    margin-top: 30px;
    font-size: 20px;
}

.rodape-redes {
    margin-top: 30px;
}